h1
{
    color: red;
	text-align: center;
}

p
{
	text-align: justify;
	text-color: white;
}

body
{
    background-image: url("403441.gif");
	background-repeat: no-repeat;
	
	
}

h2
{
  
	text-align: left;
}

ul
{

	text-align: center;
}

